.card-image-container {
  position: relative;
}

.card-image {
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card-body {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: bottom 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.card:hover .card-body {
  bottom: 0;
}

.card-hidden {
  display: none;
}

.card:hover .card-hidden {
  display: block;
}

.card:hover .card-image {
  filter: blur(2px);
}

.card-body .dead,
.alive,.unknown {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
  display: inline-block;
}

.card-body .dead {
  background: rgb(214, 61, 46);
}

.card-body .alive {
  background: rgb(85, 204, 68);
}

.card-body .unknown {
  background: rgb(142, 148, 141);
}